<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      produto {{produto.nome}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none">

    <ion-col size="8">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let image of produto.galeria; let i=index">
          <img src="{{image}}" alt="" (click)="opcaoFoto(i)">
          <!-- <img [src]="preview" *ngIf="preview">
          <img src="assets/papelao.png" *ngIf="!preview"> -->
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col *ngIf="user">
      <ion-item type="button" color="warning" (click)="alterarFoto()">
        Adicionar<br>foto
      </ion-item>
    </ion-col>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-text>{{produto.nome}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text><img src="" alt=""></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Valor</ion-label>
      <ion-text>{{produto.valor}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Quantidade</ion-label>
      <ion-text>{{produto.quantidade}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Codigo do produto</ion-label>
      <ion-text>{{produto.codigo}}</ion-text>
    </ion-item>

  </ion-list>
</ion-content>