<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="AddProd(form)" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Nome do Produto</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]=produto.nome required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Codigo do Produto</ion-label>
      <ion-input type="number" name="id" [(ngModel)]=produto.codigo required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" name="quantidade" [(ngModel)]=produto.quantidade required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input type="text" name="valor" [(ngModel)]=produto.valor required></ion-input>
    </ion-item>
<div *ngIf="!id">
  <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid">Salvar</ion-button>
</div>
<div *ngIf="id">
  <ion-button type="submit" color="primary" expand="block" [disabled]="form.invalid">Atualizar</ion-button>
</div>
    
    <ion-button color="danger" expand="block" routerLink="/">Cancelar</ion-button>
  </form>

</ion-content>
